
<div class="card">
    <div class="card-header noprint">Proforma</div>
<div class="card-body">


<div class="content-wrapper sale-background" ng-app="tutapos">

    <!-- Main content -->
    <section class="content panel" >
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 bottom_border text-left">
                <div class="sale-logo">
                    <img src="../../../../assets/img/logos/logo-front.png" style="width:180px;"alt="logo">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 bottom_border text-center">
               
                 <strong>Alquimia</strong><br>
                
                Telefono : +598 4432 2652<br>
                Direccion : Ave Francisco Piria 986, 20200 Piriápolis, Departamento de Maldonado, Uruguay<br>
                WEB: http://www.alquimiaimporta.uy/

                

            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 bottom_border">

            </div>
        </div>
        <div class="row header-border margin-bottom-15"></div>
        <div class="row bottom_border sale-heading-info">

        <div class="col-md-7 col-sm-7 col-xs-6 text-left">
            Cliente: <br />
            Dirección: <br />
            Telefono: <br>

        </div>
        <div class="col-md-5 col-sm-5 col-xs-6 text-left data-right">
            Proforma N°: <br />
            Fecha : <br />
            Usuario: <br />
        </div>

        </div>
        <div class="row header-border2"></div>
        <div class="row bottom_border">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive font-size-15">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                            <td align="right">Total</td>
                        </tr>
                        </thead>
                        
                            <tr>
                                <td>DESCRIPCION</td>
                                <td>PRECIO DE VENTA </td>
                                <td>cantidad</td>
                                <td align="right">total</td>
                            </tr>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="row bottom_border print_footer header-border font-size-15">

            <div class="col-md-7 col-sm-7 col-xs-6">
                Tipo de Pago: Efectivo
            </div>

            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="row">
                    <div class="col-xs-4">Subtotal: </div><div class="col-xs-8"> <span class="text-left">$</span><span class="pull-right">222</span></div>
                    <div class="col-xs-4">descuento: </div>
                    <div class="col-xs-8"> 
                        <span class="text-left"> $</span><span class="pull-right"> 12</span>
                    </div>
                    <div class="col-xs-4">Pagado: </div>
                    <div class="col-xs-8"> 
                        <span class="text-left"> $</span><span class="pull-right"> 22</span>
                    </div>
                    <div class="col-xs-4">resto: </div><div class="col-xs-8"> <span class="text-left">$</span><span class="pull-right"> 11</span></div>
                </div>
            </div>
        </div>
    </section>
</div>

</div>
<div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary hidden-print" (click)="printInvoice()"><i class="fa fa-save"></i> Imprimir</button>
    <a type="button" href="#/users" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-left"></i> Volver</a>
  </div>
</div>