<form #myform="ngForm" (ngSubmit)="create(myform)" class="form form-create">
<div class="card">
    <h4 class="card-header d-flex justify-content-between align-items-center">
      {{ title }}
    </h4>
    <div class="card-body">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el nombre de usuario" ngModel>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su correo electronico" ngModel>
    </div>
    <div class="form-group">
      <label for="phone_number">Telefono</label>
      <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Ingrese su telefono" ngModel>
    </div>
    <div class="form-group">
        <label for="address">Direccion</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Ingrese su direccion" ngModel>
    </div>
    <div class="form-group">
      <label for="city">Ciudad</label>
      <input type="text" class="form-control" id="city" name="city" placeholder="Confirme su ciudad" ngModel>
  </div>
  <flash-messages></flash-messages>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Guardar</button>
    <a type="button" href="#/suppliers" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-left"></i> Volver</a>
  </div>
</div>
</form>
  