<form #myform="ngForm" (ngSubmit)="create(myform)" class="form form-create">
<div class="card">
    <h4 class="card-header d-flex justify-content-between align-items-center">
      {{ title }}
    </h4>
    <div class="card-body">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el nombre de usuario" ngModel>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su correo electronico" ngModel>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" ngModel>
    </div>
    <div class="form-group">
        <label for="password_confirm">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="password_confirm" name="password_confirm"placeholder="Confirme su contraseña" ngModel>
    </div>
    <div class="form-group">
      <label for="role">Rol</label>
      <select id="role" name="role" class="form-control" ngModel>
          <option value="" selected hidden>Seleccione un Rol</option>
          <option ng-reflect-value="0" value="{{rol.id}}" *ngFor="let rol of roles">{{rol.name}}</option>
      </select>
  </div>
  <flash-messages></flash-messages>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Guardar</button>
    <a type="button" href="#/users" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-left"></i> Volver</a>
  </div>
</div>
</form>
  