<form #myform="ngForm" (ngSubmit)="create(myform)" class="form form-create">
  <div class="card">
    <h4 class="card-header d-flex justify-content-between align-items-center">
      {{ title }}
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="name">Codigo de producto</label>
        <input type="text" class="form-control" id="item" name="item" placeholder="Ingrese el codigo del producto" ngModel>
      </div>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Ingrese el nombre del producto" ngModel>
    </div>
    <div class="form-group">
      <label for="email">Codigo de barra</label>
      <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Ingrese sel codigo de barras del producto" ngModel>
    </div>
    <div class="form-group">
      <label for="phone_number">China</label>
      <input type="text" class="form-control" id="china" name="china" placeholder="Ingrese valor china del producto" ngModel>
    </div>
    <div class="form-group">
      <label for="phone_number">Uruguay</label>
      <input type="text" class="form-control" id="uy" name="uy" placeholder="Ingrese valor Uruguay del producto" ngModel>
    </div>
    <div class="form-group">
      <label for="phone_number">Mayorista</label>
      <input type="text" class="form-control" id="may" name="may" placeholder="Ingrese valor mayorista del producto" ngModel>
    </div>
    <div class="form-group">
      <label for="phone_number">Stock</label>
      <input type="text" class="form-control" id="stock" name="stock" placeholder="Ingrese el stock del producto" ngModel>
    </div>
    <div class="form-group">
      <label for="phone_number">Stock Minimo</label>
      <input type="text" class="form-control" id="stock_min" name="stock_min" placeholder="Ingrese su ciudad" ngModel>
    </div>
  <flash-messages></flash-messages>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Guardar</button>
    <a type="button" href="#/products" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-left"></i> Volver</a>
  </div>
</div>
</form>
  