
  <div class="row">
    <div class="col">
    <div class="card">
      <h4 class="card-header d-flex justify-content-between align-items-center">
        {{ title_form }}
      </h4>
      <div class="card-body">
        <div class="form-group">
          <label for="name">Codigo de producto</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el nombre de cliente" [ngModel]="prd['item']" disabled>
        </div>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el nombre de cliente" [ngModel]="prd['description']" disabled>
      </div>
      <div class="form-group">
        <label for="email">Codigo de barra</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su correo electronico" [ngModel]="prd['barcode']" disabled>
      </div>
      <div class="form-group">
        <label for="phone_number">China</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Ingrese su telefono" [ngModel]="prd['china']" disabled>
      </div>
      <div class="form-group">
        <label for="phone_number">Uruguay</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Ingrese su direccion" [ngModel]="prd['uy']" disabled>
      </div>
      <div class="form-group">
        <label for="phone_number">Mayorista</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Ingrese su ciudad" [ngModel]="prd['may']" disabled>
      </div>
      <div class="form-group">
        <label for="phone_number">Stock</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Ingrese su ciudad" [ngModel]="prd['stock']" disabled>
      </div>
      <div class="form-group">
        <label for="phone_number">Stock Minimo</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Ingrese su ciudad" [ngModel]="prd['stock_min']" disabled>
      </div>
      <input type="hidden" class="form-control" id="id" name="id" [ngModel]="prd['id']">
    <flash-messages></flash-messages>
    </div>
    <div class="card-footer">
      <a type="button" href="#/products" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-left"></i> Volver</a>
    </div>
</div>
</div>
</div>

