<form #myform="ngForm" (ngSubmit)="update(myform)" class="form form-update">
<div class="card">
    <h4 class="card-header d-flex justify-content-between align-items-center">
      {{ title }}
    </h4>
    <div class="card-body">
    <div class="form-group">
      <label for="company">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el nombre del rol" [ngModel]="rl['name']">
    </div>
  <flash-messages></flash-messages>
  <input type="hidden" name="id" [ngModel]="id">
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Guardar</button>
    <a type="button" href="#/roles" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-left"></i> Volver</a>
  </div>
</div>
</form>